<!-- yourappname/templates/home.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Welcome to the Home Page!</h2>
  <p>This is the home page content. Customize it as needed.</p>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
      </div>
      <div class="col-md-6">
        <a href="{% url 'login' %}" class="btn btn-success">Login</a>
      </div>
    </div>
  </div>
{% endblock %}
