<!-- yourappname/templates/home.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container " style="display: flex; justify-content: space-evenly;">
    <div >
    <h2>Welcome to the Home Page!</h2>
    <p>This is the home page content. Customize it as needed.</p>
  </div>

    <div class="row" style="align-items: center;">
      <div class="row-md-5">
        <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
      </div>
      <div class="col-md-5">
        <a href="{% url 'login' %}" class="btn btn-success">Login</a>
      </div>
    </div>
  </div>
{% endblock %}
